html {
  background-color: #9686c2;
  color: #551AAF;
}

body {
  margin: 0px;
}

html, body {
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
}

hr {
  color: #551AAF;
}

.navbar {
  text-align: center;
}

.text-center {
  text-align: center;
}

.float-center {
  align: center;
}

.key-container {
  width: 50%;
  height:100px;

  margin: 20px;
  overflow-x: hidden;
  overflow-y: auto;
}

.key-container.keys-loaded {
  border: 2px solid;
}

.key-container p {
  word-wrap: break-word;
}

header, footer {
  flex-grow: 0;
  flex-shrink: 0;
}

.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.page-body {
  flex-grow: 1;
  margin: 40px;
  width: 400px;
}

.buttons-88x31 {
  text-align: center;
}

.contact table {
  border: 1px solid black;
}

